.header{

}

.mobile  .menu{
display: flex;
text-align: center;
justify-content: space-between;
border: 1px solid #999;
padding: 1rem;
width: 10%;

}

.options{
display: flex;
border: 1px solid #000;
width: 10rem;
translate: -100%;

transition: translate .3s;
}

.options nav {
display: flex;
flex-direction: column;
}

.options.open{
translate: 0%;
}
